/* Await */
.await {
    color: #0044DD;
    font-weight: bold;
}

/* Bracket */
.highlight .b {
    color: #666666;
}

/* Keyword */
.highlight .o {
    color: #666666;
}

/* String */
.highlight .s {
    color: #BA2121;
}

/* Error */
.highlight .error {
    color: #FF0000;
}

/* Number */
.highlight .m {
    color: #008000;
}

/* Await */
.highlight .a {
    color: #0044DD;
}

/* Traceback */
.highlight .t {
    color: #008000;
}

/* Class */
.highlight .c {
    color: #880000;
}

/* Function */
.highlight .f {
    color: #767600;
}