body {
    background-color: #D0D0D0;
    display: flex;
    justify-content: space-between;
}

#left-side {
    margin: 20px;
}

#right-side {
    margin: 20px;
}

#docs-div {
    display: flex;
    flex-flow: column;
}


#canvas {
    background-color: #FFFFFF;
    border: 1px solid grey;
}

#editor {
    line-height: 1.12;
    font-size: 20px;
    font-family: monospace;
    resize: none;
    border: 1px solid grey;
    width: 560px;
    height: 520px;
}

#docs {
    font-size: 24px;
    font-family: monospace;
    margin: 16px;
}

#run-code {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: red;
    margin: 10px 40px;
    float: left;
}

#pause {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: blue;
    margin: 10px 40px;
    float: left;
}

#fileInput {
    font-size: 16px;
    margin: 12px 40px;
    float: left;
}

#initialize-form {
    margin: 16px 20px;
    float: left;
}

#initialize {
    transform: scale(1.6);
}

#copyright {
    font-size: 18px;
    float: right;
    margin: 20px;
}