body {
    background-color: #D0D0D0;
}

#left-side {
    float: left;
    margin: 20px;
}

#right-side {
    float: right;
    margin: 20px;
}

#canvas {
    background-color: #FFFFFF;
}

#textbox {
    font-size: 20px;
    font-family: monospace;
    resize: none;
}

#run-code {
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
    color: red;
    margin: 16px 40px;
    float: left;
}

#initialize-form {
    margin: 24px 20px;
    float: left;
}

#init-label {
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    top: 10px;
}

#initialize {
    transform: scale(1.6);
}

#copyright {
    float: right;
    margin: 20px;
}